MONGO_URL=mongodb://localhost/meteor
DEVELOPMENT=TRUE
SECRET=testsecretdonotuse
PORT=4000

BUCKET_ENDPOINT="http://127.0.0.1:9000"
BUCKET_NAME="starship-dev"
BUCKET_ACCESS_KEY="minioadmin"
BUCKET_ACCESS_SECRET="minioadmin"
BUCKET_FORCE_PATH_STYLE=FALSE

SITE_URL="http://localhost:3000"

# Uncomment this block to enable email verification and password resets
# SMTP_HOST="smtp.mailgun.org"
# SMTP_PORT=587
# SMTP_SECURE=TRUE
# SMTP_USER=""
# SMTP_PASSWORD=""
# MAIL_FROM=""

# Uncomment this line to enable recaptcha support
# RECAPTCHA_SECRET=""

# Uncomment this block to enable Redis-based multi-server support
# REDIS_SERVER="127.0.0.1"
# REDIS_PORT=6379
# REDIS_USERNAME="username"
# REDIS_PASSWORD="password"